source https://www.nuget.org/api/v2
nuget Expecto
nuget FAKE
nuget FSharp.Core

group Testing
  source https://www.nuget.org/api/v2
  nuget Expecto
  nuget Expecto.BenchmarkDotNet
  nuget Expecto.FsCheck
nuget Scotch

group Runtime
  source https://www.nuget.org/api/v2
  nuget FSharp.Data