source https://www.nuget.org/api/v2
nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck
nuget FAKE
nuget FSharp.Core 4.0.0.1
nuget FSharp.Data
nuget Google.Apis.Auth
nuget Newtonsoft.Json
nuget Scotch

group Testing
  source https://www.nuget.org/api/v2
nuget DotEnvFile